<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!--------- fonr awsome 5.0 kit ---------->
  <script src="https://kit.fontawesome.com/60af8529a4.js" crossorigin="anonymous"></script>
  <title></title>
  <link rel="stylesheet" href="Subject.css">
</head>
<body>
  <div class="container">
    <div class="topSec">
      <div class="selectArea">
        <select name="" id="" required>
          <option value="" disabled selected hidden>Select Standard</option>
          <option value="">BATCH1</option>
          <option value="">BATCH2</option>
          <option value="">BATCH3</option>
          <option value="">BATCH4</option>
        </select>
        <input type="checkbox" name="" id="" checked>
        <label for="">Is Active</label>
      </div>
      <div class="searchArea">
        <input type="text" placeholder="Search">
        <a href="">Add Subject</a>
      </div>
    </div>
    <div class="wrap">
      <table class="head">
        <tr>
          <td scope="col">ID</td>
          <td scope="col">Standard</td>
          <td scope="col">Subject</td>
          <td scope="col">Subject Code</td>
          <td scope="col">&#9652;Added Date</td>
          <td scope="col">Actions</td>
        </tr>
      </table>
      <div class="inner_table">
        <table>
          <tr>
            <td>75530</td>
            <td>BATCH1</td>
            <td>Ancient, Medieval India & Art and Culture</td>
            <td>0005</td>
            <td>25-May-21</td>
            <td><i class="far fa-edit"></i><i class="far fa-trash-alt"></i></td>
          </tr>
          <tr>
            <td>75530</td>
            <td>BATCH1</td>
            <td>Ancient, Medieval India & Art and Culture</td>
            <td>0005</td>
            <td>25-May-21</td>
            <td><i class="far fa-edit"></i><i class="far fa-trash-alt"></i></td>
          </tr>
          <tr>
            <td>75530</td>
            <td>BATCH1</td>
            <td>Ancient, Medieval India & Art and Culture</td>
            <td>0005</td>
            <td>25-May-21</td>
            <td><i class="far fa-edit"></i><i class="far fa-trash-alt"></i></td>
          </tr>
          <tr>
            <td>75530</td>
            <td>BATCH1</td>
            <td>Ancient, Medieval India & Art and Culture</td>
            <td>0005</td>
            <td>25-May-21</td>
            <td><i class="far fa-edit"></i><i class="far fa-trash-alt"></i></td>
          </tr>
          <tr>
            <td>75530</td>
            <td>BATCH1</td>
            <td>Ancient, Medieval India & Art and Culture</td>
            <td>0005</td>
            <td>25-May-21</td>
            <td><i class="far fa-edit"></i><i class="far fa-trash-alt"></i></td>
          </tr>
          <tr>
            <td>75530</td>
            <td>BATCH1</td>
            <td>Ancient, Medieval India & Art and Culture</td>
            <td>0005</td>
            <td>25-May-21</td>
            <td><i class="far fa-edit"></i><i class="far fa-trash-alt"></i></td>
          </tr>
          <tr>
            <td>75530</td>
            <td>BATCH1</td>
            <td>Ancient, Medieval India & Art and Culture</td>
            <td>0005</td>
            <td>25-May-21</td>
            <td><i class="far fa-edit"></i><i class="far fa-trash-alt"></i></td>
          </tr>
          <tr>
            <td>75530</td>
            <td>BATCH1</td>
            <td>Ancient, Medieval India & Art and Culture</td>
            <td>0005</td>
            <td>25-May-21</td>
            <td><i class="far fa-edit"></i><i class="far fa-trash-alt"></i></td>
          </tr>
          <tr>
            <td>75530</td>
            <td>BATCH1</td>
            <td>Ancient, Medieval India & Art and Culture</td>
            <td>0005</td>
            <td>25-May-21</td>
            <td><i class="far fa-edit"></i><i class="far fa-trash-alt"></i></td>
          </tr>
          <tr>
            <td>75530</td>
            <td>BATCH1</td>
            <td>Ancient, Medieval India & Art and Culture</td>
            <td>0005</td>
            <td>25-May-21</td>
            <td><i class="far fa-edit"></i><i class="far fa-trash-alt"></i></td>
          </tr>
          <tr>
            <td>75530</td>
            <td>BATCH1</td>
            <td>Ancient, Medieval India & Art and Culture</td>
            <td>0005</td>
            <td>25-May-21</td>
            <td><i class="far fa-edit"></i><i class="far fa-trash-alt"></i></td>
          </tr>
          <tr>
            <td>75530</td>
            <td>BATCH1</td>
            <td>Ancient, Medieval India & Art and Culture</td>
            <td>0005</td>
            <td>25-May-21</td>
            <td><i class="far fa-edit"></i><i class="far fa-trash-alt"></i></td>
          </tr>
          <tr>
            <td>75530</td>
            <td>BATCH1</td>
            <td>Ancient, Medieval India & Art and Culture</td>
            <td>0005</td>
            <td>25-May-21</td>
            <td><i class="far fa-edit"></i><i class="far fa-trash-alt"></i></td>
          </tr>
          <tr>
            <td>75530</td>
            <td>BATCH1</td>
            <td>Ancient, Medieval India & Art and Culture</td>
            <td>0005</td>
            <td>25-May-21</td>
            <td><i class="far fa-edit"></i><i class="far fa-trash-alt"></i></td>
          </tr>
          <tr>
            <td>75530</td>
            <td>BATCH1</td>
            <td>Ancient, Medieval India & Art and Culture</td>
            <td>0005</td>
            <td>25-May-21</td>
            <td><i class="far fa-edit"></i><i class="far fa-trash-alt"></i></td>
          </tr>
          <tr>
            <td>75530</td>
            <td>BATCH1</td>
            <td>Ancient, Medieval India & Art and Culture</td>
            <td>0005</td>
            <td>25-May-21</td>
            <td><i class="far fa-edit"></i><i class="far fa-trash-alt"></i></td>
          </tr>
          <tr>
            <td>75530</td>
            <td>BATCH1</td>
            <td>Ancient, Medieval India & Art and Culture</td>
            <td>0005</td>
            <td>25-May-21</td>
            <td><i class="far fa-edit"></i><i class="far fa-trash-alt"></i></td>
          </tr>
          <tr>
            <td>75530</td>
            <td>BATCH1</td>
            <td>Ancient, Medieval India & Art and Culture</td>
            <td>0005</td>
            <td>25-May-21</td>
            <td><i class="far fa-edit"></i><i class="far fa-trash-alt"></i></td>
          </tr>
          <tr>
            <td>75530</td>
            <td>BATCH1</td>
            <td>Ancient, Medieval India & Art and Culture</td>
            <td>0005</td>
            <td>25-May-21</td>
            <td><i class="far fa-edit"></i><i class="far fa-trash-alt"></i></td>
          </tr>
          <tr>
            <td>75530</td>
            <td>BATCH1</td>
            <td>Ancient, Medieval India & Art and Culture</td>
            <td>0005</td>
            <td>25-May-21</td>
            <td><i class="far fa-edit"></i><i class="far fa-trash-alt"></i></td>
          </tr>
          <tr>
            <td>75530</td>
            <td>BATCH1</td>
            <td>Ancient, Medieval India & Art and Culture</td>
            <td>0005</td>
            <td>25-May-21</td>
            <td><i class="far fa-edit"></i><i class="far fa-trash-alt"></i></td>
          </tr>
        </table>
      </div>
    </div>
    <div class="bottomSec">
      <div class="pageDetails">
        <div class="records">
          <h5>Showing 1 to 17 of 17</h5>
          <h5>Total 1 pages</h5>
        </div>
        <div class="pageSize">
          <label for="">Records per page:</label>
          <select name="" id="">
            <option value="">10</option>
            <option value="">15</option>
            <option value="">20</option>
            <option value="">25</option> 
          </select>
        </div>
      </div>
      <div class="pagination">
        <a><i class="fas fa-angle-left"></i>Previous</a><span>1</span><a>Next<i class="fas fa-angle-right"></i></a>
      </div>
    </div>
  </div>

</body>
</html>