<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
<!--------- fonr awsome 5.0 kit ---------->
  <script src="https://kit.fontawesome.com/60af8529a4.js" crossorigin="anonymous"></script>
  <title></title>
  <link rel="stylesheet" href="Courses.css">
</head>
<body>
  <div class="container">
    <div class="topSec">
      <div class="selectArea">
        <select name="" id="" required>
          <option value="" disabled selected hidden>Select Master Course*</option>
          <option value="">Course1</option>
          <option value="">Course2</option>
          <option value="">Course3</option>
          <option value="">Course4</option>
        </select>
        <select name="" id="" required>
          <option value="" disabled selected hidden>Select Batch*</option>
          <option value="">2021-2022</option>
          <option value="">2022-2023</option>
          <option value="">2023-2024</option>
          <option value="">2024-2025</option>
        </select>
      </div>
      <div class="searchArea">
        <input type="text" placeholder="Search">
        <a href="">Go</a>
        <a href="">Add Course</a>
      </div>
    </div>
    <div class="midSec">
      <h3 href="">TARGET 2022<i class="far fa-edit"></i></h3>
      <div class="separator">
        <div class="line"></div>
        <h4>Standard: Batch1</h4>
        <div class="line"></div>
      </div>
    </div>
    <div class="bottomSec">
      <div class="card">
        <div class="heading">
          <h3 href="">classroom cum mentorship</h3><i class="far fa-edit"></i>
        </div>
        <hr width="95%">
        <div class="content">
          <div class="L1">
            <label for="">End Date:</label>
            <a>01-Jan-2022</a>
          </div>
          <div class="L2">
            <label for="">Total Student: 0</label>
            <a>Assign/Unassign</a>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="heading">
          <h3 href="">classroom cum mentorship</h3><i class="far fa-edit"></i>
        </div>
        <hr width="95%">
        <div class="content">
          <div class="L1">
            <label for="">End Date:</label>
            <a>01-Jan-2022</a>
          </div>
          <div class="L2">
            <label for="">Total Student: 0</label>
            <a>Assign/Unassign</a>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="heading">
          <h3 href="">classroom cum mentorship</h3><i class="far fa-edit"></i>
        </div>
        <hr width="95%">
        <div class="content">
          <div class="L1">
            <label for="">End Date:</label>
            <a>01-Jan-2022</a>
          </div>
          <div class="L2">
            <label for="">Total Student: 0</label>
            <a>Assign/Unassign</a>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="heading">
          <h3 href="">classroom cum mentorship</h3><i class="far fa-edit"></i>
        </div>
        <hr width="95%">
        <div class="content">
          <div class="L1">
            <label for="">End Date:</label>
            <a>01-Jan-2022</a>
          </div>
          <div class="L2">
            <label for="">Total Student: 0</label>
            <a>Assign/Unassign</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
</html>